<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FigCo</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <div class="navbar">
        <a  href="/">Home</a>
        <a  href="/profile">My Profile</a>
    </div>
    <div class="body">
        {{{body}}}
    </div>
    <script src="/public/js/script.js"></script>
</body>

</html>