<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FigCo</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    
    <p>hello</p>
    {{{body}}}
</body>

</html>