<div class="display">
    <h1>Sign Up As A Business</h1>
    {{#if error}}
    <p class="alert alert-danger">{{error}}</p>
    {{/if}}
    <div class="alert alert-danger" style="display: none" id="clientError"></div>

    <form id="business-signup-form" name="business-signup-form" action="/businessRegister" method="POST">
        <div class = "group">
            <label for="name">Business Name:</label>
            <input class="form-control"  type="text" id="name" name="name">
        </div>
        <div class = "group">
            <label for="phoneNumber">Business Phone Number:</label>
            <p>Include +1 for country code.</p>
            <input class="form-control"  type="text" id="phoneNumber" name="phoneNumber">
        </div>
        <div class = "group">
            <label for="id">Business ID:</label>
            <input class="form-control"  type="text" id="id" name="id">
        </div>
        <h3>Address</h3>
        <p>Business must be located in the USA to register.</p>
        <div class = "group">
            <label for="streetAddress">Street Address:</label>
            <input class="form-control"  type="text" id="streetAddress" name="streetAddress">
        </div>
        <div class = "group">
            <label for="city">City:</label>
            <input class="form-control"  type="text" id="city" name="city">
        </div>
        <div class = "group">
            <label for="state">State (Abbreviation):</label>
            <input class="form-control"  type="text" id="state" name="state">
        </div>
        <div class = "group">
            <label for="zipcode">Zipcode:</label>
            <input class="form-control"  type="text" id="zipcode" name="zipcode">
        </div>

        <div class = "group">
            <label for="username">Username:</label>
            <input class="form-control"  type="text" id="username" name="username">
        </div>
        <div class = "group">
            <label for="password">Password:</label>
            <input class="form-control"  type="password" id="password" name="password">
        </div>
        <div class = "group">
            <label for="confirmPassword">Confirm Password:</label>
            <input class="form-control"  type="password" id="confirmPassword" name="confirmPassword">
        </div>

        <button class="btn btn-secondary"  type="submit" id="submitButton" name="submitButton">Submit</button>

</form>

<p>Don't want to create a business account? <a href="/register">Create a personal account here.</a></p>
<p>Already have an account? <a href="/login">Click here to log-in</a></p>
</div>