
    <h1>Create a Post</h1>
    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}
    <div id="clientError"></div>
    <div class="display">
        <form id="createpost" name="createpost" action="/createpost" method="POST" enctype="multipart/form-data">
            <div>
                <label for="postTitle">Post Title:</label>
                <input type="text" id="postTitle" name="postTitle">
            </div>
            <div>
                <label for="caption">Caption:</label>
                <input type="text" id="caption" name="caption">
            </div>
            <div>
                <label for="rsvpSelect">Is for an event that needs RSVP?</label>
                <select id="rsvpSelect" name="rsvp">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                </select>
            </div>
            <div>
            <label for="fileSelect"  id="fileSelect">Is you file an image or video/audio?</label>
                <select id="fileSelect" name="fileSelect">
                <option value="Image">Image</option>
                <option value="Video">Video/Audio</option>
                </select>
            </div>
                <div class="file">
                    <label class="file-label">
                        <input class="file-input" type="file" name="file">
                        <span class="file-cta">
                        <span class="file-label">
                        </span>
                        </span>
                    </label>
                </div>
                <input type='submit' value='Upload Post' class="button is-link mt-3" />
            </div>
            <input type="submit" value="Create Post" class="button is-link mt-3" />
        </form>
    </div>


