<div class="navbar">
    <a href="/">Home</a>
    <a href="/collections">Collections</a>
    <a href="/profile">My Profile</a>
</div>

<h1>Feed</h1>
{{#if error}}
<p class="error">{{error}}</p>
{{/if}}
<div id="clientError"></div>
<div class="display">
    <div>
            <label for="searchfriend">Search for a Friend:</label>
            <input type="text" id="searchfriend" name="searchfriend">
    </div>
</div>