<div>
    <form id="searchUser" action="/searchUser" method="POST">
        <div class="input-group">
            <input name="username" id="user" type="text" class="form-control" placeholder="Search for a username">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Submit</button>
            </div>
        </div>
    </form>
    <p>{{error}}</p>
    {{#if error}}
    <p class="alert alert-danger">{{error}}</p>
    {{/if}}
    <div class="alert alert-danger" id="clientError"></div>
</div>