<div class="display">
    <h1>Login</h1>
    {{#if error}}
    <p class = "alert alert-danger">{{error}}</p>
    {{/if}}
    <div class="alert alert-danger" style="display: none" id="clientError"></div>

    <form id="signin-form" action="/login" method="POST">
        <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-control" type="text" id="username" name="username">
       
        
            <label for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="password">
       
            <button type="submit" class="btn btn-secondary"  id="submitButton" name="submitButton">Login</button>
        </div>
    </form>
    <a href="/register">Click here to register!</a>
</div>