<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Logged Out</title>
</head>

<body>
    <main>
        <div id="logoutView">
            <h1>Logged Out</h1>
            <p id="welcome">You have been logged out. Click <a href="/login">here</a> to login again.</p>
        </div>
    </main>
</body>