<h1>My Profile</h1>
<div class="profile">

    <div class="profileDetails">
        <div class="left">
            <img src="/public/profile.png" alt="Profile Picture" class="profile-picture">
            <h3>Username</h3>
        </div>
        <div class="right">
            <h2>Firstname Lastname</h2>
            <div class="locationDiv">
                <img src="/public/location.png" class="locationPicture">
                <p>New York City, USA</p>
            </div>

            <div class="divider"></div>
            <p>Bio: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Favorite Figurine: Pikachu</p>
        </div>

        {{!-- put badges elsewhere --}}
        {{!-- <p>Badges: Full series collection</p> --}}
        {{!-- <button id="edit-button">Edit Profile</button> --}}
    </div>

    <div class="badges">
        <h2>My Badges</h2>
        <p>You don't have any badges currently.</p>
        <button id="addBadge">Add New Badge</button>
    </div>

    <div class="wishlist">
        <h2>My Wishlist</h2>
        <p>You don't have any wishes currently.</p>
        <button id="addWish">Add New Wish</button>
    </div>
    {{!-- <div class="editPicture">
        <label for="pictureUpload">Edit Profile Picture</label>
        <input type="file" id="pictureUpload">
    </div> --}}
</div>