<h1>My Profile</h1>
<div class="personal">
    <div class="profile">

        <div class="profileDetails">
            <div class="left">
                <img src="/public/profile.png" alt="Profile Picture" class="profile-picture">
                <h3>Username</h3>
            </div>
            <div class="right">
                <h2>Firstname Lastname</h2>
                <div class="locationDiv">
                    <img src="/public/location.png" class="locationPicture">
                    <p>New York City, USA</p>
                </div>

                <div class="divider"></div>
                <p>Bio: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Favorite Figurine: Pikachu</p>
            </div>

        </div>

        <div class="badges">
            <div class="buttontitle">
                <h2>My Badges</h2>
                <button class="addBadge" id="addBadge">Add Badge</button>
            </div>

            <p>You don't have any badges currently.</p>
            <p>You don't have any badges currently.</p>
            <p>You don't have any badges currently.</p>
            <p>You don't have any badges currently.</p>
            <p>You don't have any badges currently.</p>
            <p>You don't have any badges currently.</p>
            <p>You don't have any badges currently.</p>
            <div class="overlay" id="overlay"></div>
            <div class="form-popup" id="formPopup">
                <h3>Add New Badge</h3>
                <form class="badgeForm" action='/badge' method="POST" >
                    <label for="badgeName">Badge Name:</label>
                    <input type="text" id="badgeName" name="badgeName" placeholder="Enter Badge Name">
                    <button type="submit">Submit</button>
                </form>
                <button onclick="closeForm()">Close</button>
            </div>


        </div>

        <div class="wishlist">
            <div class="wishTitle">
                <h2>My Wishlist</h2>
                <button class="addWish" id="addWish">Add Wish</button>
            </div>


            <p>You don't have any wishes currently.</p>
            <div class="wish-form-popup" id="wishformPopup">
                <h3>Add New Wish</h3>
                <form class="wishForm" action='/wishlist'method="POST" >
                    <label for="wishName">Item:</label>
                    <input type="text" id="wishName" name="wishName" placeholder="Enter Wish Name">
                    <button type="submit">Submit</button>
                </form>
                <button onclick="closeWishForm()">Close</button>
            </div>
        </div>

    </div>
    <div class="divider"></div>
    <div class="collection">
        <h2>My Collections</h2>
        <button class="addCollectionName">Add Collection</button>
    </div>

</div>