<h1>My Profile</h1>
<div class="profile">

    <div class="profileDetails">
        <img src="/public/profile.png" alt="Profile Picture" class="profile-picture">
        <h2>Firstname Lastname</h2>
        <h3>Username</h3>
        <div class="divider"></div>
        <p>Bio: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="divider"></div>
        <p>Location: New York City, USA</p>
        <div class="divider"></div>
        <p>Favorite Figurine: Pikachu</p>
        {{!-- put badges elsewhere --}}
        {{!-- <p>Badges: Full series collection</p> --}}
        {{!-- <button id="edit-button">Edit Profile</button> --}}
    </div>
    <div class="badges">
        My Badges
    </div>
    {{!-- <div class="editPicture">
        <label for="pictureUpload">Edit Profile Picture</label>
        <input type="file" id="pictureUpload">
    </div> --}}
</div>