<h1>My Profile</h1>
<div class="profile">

    <div class="profileDetails">
        <div class="left">
            <img src="/public/profile.png" alt="Profile Picture" class="profile-picture">
            <h3>Username</h3>
        </div>
        <div class="right">
            <h2>Firstname Lastname</h2>
            <div class="locationDiv">
                <img src="/public/location.png" class="locationPicture">
                <p>New York City, USA</p>
            </div>

            <div class="divider"></div>
            <p>Bio: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Favorite Figurine: Pikachu</p>
        </div>

    </div>

    <div class="badges">
        <h2>My Badges</h2>
        <p>You don't have any badges currently.</p>
        <button class = "addBadge" id="addBadge">Add New Badge</button>
    </div>

    <div class="wishlist">
        <h2>My Wishlist</h2>
        <p>You don't have any wishes currently.</p>
        <button class= "addWish" id="addWish">Add New Wish</button>
    </div>
    
</div>