.navbar {
    background-color: #34495e;
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-align: center;
    padding: 26px 40px 27px;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    top: -8px;
    /* height: 80px; */
    /* margin:0px; */
}

.navbar a:hover {
    background-color: #a7c0cd;
    color: black;
    text-decoration: none;
    /* height: 80px; */
    /* padding: 30px 35px; */

}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu", sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top:50px;
}

.profile-picture {
    border-radius: 50%;
    width: 120px;
    align-items: center;
    align-self: center;
}


.profile{
    display:flex;
    justify-content:space-evenly;
    margin-bottom: 20px;
    margin-top: 20px;
    flex-direction: row;
    
}

.body {
    margin: 20px;
}

.profileDetails {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.profileDetails h3 {
    text-align: center;
    margin:0px;
    margin-top: 10px;
}
.profileDetails h2 {
    margin-bottom: -8px; 
}
.profileDetails p{
    margin:0px;
    margin-top: 15px;
}
.divider {
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.badges{
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* margin: 0 auto; */
    overflow: auto;
    height: 200px;
   
}

.left{
    background-color: #34495e;
    /* flex: 1; */
    padding:40px;
    border-top-left-radius: 8px; /* Round the top-left corner */
    border-bottom-left-radius: 8px;
    color:white;
}
.right{
    padding:20px;
}

.locationDiv {
    display: flex;
    align-items: end; 
    margin-top:0;
}

.locationPicture {
    width: 20px; 
    height: 20px;
    margin-right: 2px; 
    margin-left: -5px; 
}


.wishlist{
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: auto;
    height: 200px;
}

.addWish {
    background-color: #34495e; 
    border: none;
    color: white; 
    padding: 5px 10px; 
    text-align: center; 
    font-size: 14px; 
    margin: 5px ; 
    border-radius: 8px;
    margin-top:15px;
    margin-bottom:15px;

}



.collection{
    margin-left:50px;
    margin-right:50px;
    margin-top: 20px;
}

.addCollectionName {
    background-color: #34495e; 
    border: none;
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    font-size: 16px; 
    margin: 4px ; 
    border-radius: 8px;
}

.buttontitle{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}


.addBadge {
    background-color: #34495e; 
    border: none;
    color: white; 
    padding: 5px 10px; 
    text-align: center; 
    font-size: 14px; 
    margin: 5px ; 
    border-radius: 8px;
    margin-top:15px;
    margin-bottom:15px;

}

.wishTitle{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-popup {
    display: none;
    position: fixed;
    background-color: #fefefe;
    border: 1px solid #ccc;
    padding: 40px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.wish-form-popup {
    display: none;
    position: fixed;
    background-color: #fefefe;
    border: 1px solid #ccc;
    padding: 40px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wishOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.badgeForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.badgelabel{
    margin-bottom: 10px;
}

.badgeName{
    margin-bottom: 20px;
    height: 15px;
    width:250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding:15px;
    font-size: 14px;

}

.badgeSubmit{
    margin-bottom: 20px;
    width:100px;
    border-radius: 8px;
    background-color: #34495e; 
    color:white;
    padding:5px 10px;
    font-size: 14px;

}

.badgeClose{
    width:70px;
    border-radius: 8px;
    border: 1px solid #34495e;
    color:#34495e;
    padding:5px 10px;
    background-color: white;
    
}

.closeButton{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clientError{
    margin-bottom: 20px;
    color: red;
}



.wishForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.wishLabel{
    margin-bottom: 10px;
}

.wishName{
    margin-bottom: 20px;
    height: 15px;
    width:250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding:15px;
    font-size: 14px;

}

.wishSubmit{
    margin-bottom: 20px;
    width:100px;
    border-radius: 8px;
    background-color: #34495e; 
    color:white;
    padding:5px 10px;
    font-size: 14px;

}

.wishClose{
    width:70px;
    border-radius: 8px;
    border: 1px solid #34495e;
    color:#34495e;
    padding:5px 10px;
    background-color: white;
    
}

.wishclientError{
    margin-bottom: 20px;
    color: red;
}

.overlay-div {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: 1;
}

/* Apply hover effect to the parent container */
.card:hover .overlay-div {
    opacity: 0; /* Make the overlay disappear on hover */
}

/*create post css(she does not work yet) */
.postButton {
    /* Your custom styles here */
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
