.navbar {
    background-color: #34495e;
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-align: center;
    padding: 30px 35px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #a7c0cd;
    color: black;
}

body {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top:50px;
}

.profile-picture {
    border-radius: 50%;
    width: 120px;
    align-items: center;
    align-self: center;
}


.profile{
    display:flex;
    justify-content:space-evenly;
    
    flex-direction: row;
    
}

.body {
    margin: 20px;
}

.profileDetails {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    /* align-items: center; */
}

.profileDetails h3 {
    text-align: center;
    margin:0px;
    margin-top: 10px;
}
.profileDetails h2 {
    margin-bottom: -8px; 
}
.profileDetails p{
    margin:0px;
    margin-top: 15px;
}
.divider {
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.badges{
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* margin: 0 auto; */
    overflow: auto;
    height: 200px;
   
}

.left{
    background-color: #34495e;
    /* flex: 1; */
    padding:40px;
    border-top-left-radius: 8px; /* Round the top-left corner */
    border-bottom-left-radius: 8px;
    color:white;
}
.right{
    padding:20px;
}

.locationDiv {
    display: flex;
    align-items: end; 
    margin-top:0;
}

.locationPicture {
    width: 20px; 
    height: 20px;
    margin-right: 2px; 
    margin-left: -5px; 
}


.wishlist{
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: auto;
    height: 200px;
}

.addWish {
    background-color: #34495e; 
    border: none;
    color: white; 
    padding: 5px 10px; 
    text-align: center; 
    font-size: 14px; 
    margin: 5px ; 
    border-radius: 8px;
    margin-top:15px;
    margin-bottom:15px;

}



.collection{
    margin-left:50px;
    margin-right:50px;
    margin-top: 20px;
}

.addCollectionName {
    background-color: #34495e; 
    border: none;
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    font-size: 16px; 
    margin: 4px ; 
    border-radius: 8px;
}

.buttontitle{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}


.addBadge {
    background-color: #34495e; 
    border: none;
    color: white; 
    padding: 5px 10px; 
    text-align: center; 
    font-size: 14px; 
    margin: 5px ; 
    border-radius: 8px;
    margin-top:15px;
    margin-bottom:15px;

}

.wishTitle{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}